.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    width: 450px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.btn {
    border: none;
    border-radius: 8px;
    padding: 5px;
    color: white;
    margin: 5px;
    padding: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}

.editBtn {
    background-color: orange;
}

.deleteBtn {
    background-color: red;
}

.subContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
}

.subTxt {
    font-size: 1rem;
    font-weight: 400;
}
